.wrapper {
    margin-top: 80px;
}

.founder-container {
    border-radius: 8px;
    padding: 56px min(56px, 5.6vw);
    margin: 0 auto;
    margin: 50px 20px;
    align-content: start;
    align-items: stretch;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    justify-content: stretch;
    justify-items: stretch;
}

.founder-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min(90rem, 90%);
    margin: 0 auto;
    position: relative;
}

.founder-tile {
    color: var(--text-color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

@media (max-width: 1366px) {
    .content {
        padding: 14.8rem 6.4rem 12.8rem;
    }

    .background-cardano-side-wrapper {
        height: 50%;
    }
    .background-floating-coins-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .founder-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .founder-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .founder-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
