.input-field {
    position: relative;
}

.title {
    padding-bottom: 8px;
    font-size: 1.4rem;
    display: flex;
}

.icon-help-circle {
    margin-top: 5px;
    margin-left: 4px;
    transform: translateY(-4px);
}
.input-wrapper {
    background: linear-gradient(101deg, #32375c 18%, #ab56c9 61%, #b275dc 102%);
    border-radius: 10px;
    display: flex;
    height: 56px;
    justify-content: center;
    margin: 0;
    padding: 2px;
    position: relative;
    width: 100%;

    .input {
        background: #2f3353;
        border: none;
        border-radius: 10px;
        color: #fff;
        height: 100%;
        padding-right: 16px;
        padding-left: 16px;
        position: relative;
        font-size: 17px;
        width: 100%;
        &::placeholder {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

.error-message {
    display: block;
    font-size: 1.4rem;
    color: red;
    min-height: 24px;
    margin: 6px 0;
}
