@import "../../styles/layouts.scss";

.wrapper {
    padding: 17.2rem 4rem 0;
}

.header {
    margin-bottom: 6.4rem;
}

.header-order {
    margin-top: 6rem;
    margin-bottom: 3.2rem;
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.stats {
    display: flex;
    gap: 2.8rem;
}

.stats-inner {
    width: 100%;
}

.card-wrapper {
    max-width: 452px;
    width: 100%;
    position: relative;
}

.stat-djed-stablecoin,
.stat-shen-reservation {
    width: 100%;
}

.orders {
    margin: 3.2rem auto 5.6rem;
}

.coin-image-left,
.coin-image-right {
    position: absolute;
}

.coin-image-left {
    height: 148px;
    width: 162px;
    left: -130px;
    bottom: 0;
}

.coin-image-right {
    height: 170px;
    overflow: hidden;
    position: absolute;
    right: -148px;
    top: 0;
    width: 209px;
    z-index: 6;
}

.balance {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 8px 4px;
    text-align: end;
}
.form {
    margin-bottom: 2.3rem;
}

.service-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 14px;
    padding: 0 0 14px;
    font-size: 16px;
    font-weight: 600;
}
.icon-help-circle {
    margin-top: 5px;
    margin-left: 4px;
    transform: translateY(-4px);
}

.title-wrapper {
    display: flex;
}

.stats-fee {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tippy-content-link {
    text-decoration: underline;
}

.form-wrapper {
    margin-bottom: 2.4rem;
}
.withdraw-mode-dropdown {
    padding: 1.8rem 2.4rem !important;
    &::before {
        padding: 2px;
    }
}

.withdraw-button {
    align-items: center;
    background: transparent;
    background-image: linear-gradient(118deg, #7054d1 13%, #ab56c9 58%, #b275dc);
    background-repeat: no-repeat;
    border: 1px solid #7054d1;
    border-radius: 12px;
    box-shadow: 0 8px 12px 0 rgba(177, 109, 215, 0.28);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 56px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    width: 100%;
    outline: 0;
    padding: 24px 32px;
    transition: all 0.2s ease-out;
    font-family: Poppins, sans-serif;
    white-space: nowrap;
    font-weight: 700;
    &:hover {
        background-position: 100% 100%;
        box-shadow: 0 4px 16px 0 rgba(177, 109, 215, 0.48);
    }
}
.withdraw-loading {
    display: none;
    &.withdrawing {
        display: block;
    }
}

.input-amount {
    margin-top: 1.6rem;
}

@media (max-width: 1024px) {
    .card-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .stats {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-right: 1.8rem;
        padding-left: 1.8rem;
    }

    .stats {
        padding: 0 !important;
    }
}
