.toast-list {
    position: fixed;
    top: 100px;
    right: 82px;
    width: 100%;
    max-width: fit-content;
    width: 400px;
    max-height: 100vh;
    overflow: hidden auto;
    scrollbar-color: transparent transparent;
}
